.light {
  --toolbar-bg-color: #414141;

  --toolbar-btn-txt-color: rgba(255, 255, 255, 0.8);
  --toolbar-btn-hover: rgba(255, 255, 255, 0.3);
  --toolbar-btn-hover-txt-color: rgba(255, 255, 255, 1);
  --toolbar-btn-on: rgba(255, 255, 255, 0.2);
  --toolbar-btn-on-txt-color: rgba(255, 255, 255, 1);
  --toolbar-btn-active: rgba(255, 255, 255, 0.1);
  --toolbar-btn-active-txt-color: rgba(255, 255, 255, 0.4);

  --bottom-bar-bg-color: #414141;
  --bottom-bar-color: rgb(255, 255, 255);
}

.dark {
  --toolbar-bg: #1c1c1c;
  --toolbar-color: #ffffff;

  --toolbar-btn-bg: transparent;
  --toolbar-btn-txt: rgba(255, 255, 255, 0.75);
  --toolbar-btn-bg-hover: rgba(255, 255, 255, 0.35);
  --toolbar-btn-txt-hover: rgba(255, 255, 255, 0.75);
  --toolbar-btn-bg-active: rgba(255, 255, 255, 0.2);
  --toolbar-btn-txt-active: rgba(255, 255, 255, 1);
  --toolbar-btn-bg-toggle: rgba(255, 255, 255, 0.2);
  --toolbar-btn-txt-toggle: rgba(255, 255, 255, 1);
  --toolbar-btn-bg-toggle-hover: rgba(255, 255, 255, 0.25);
  --toolbar-btn-txt-toggle-hover: rgba(255, 255, 255, 1);
  --toolbar-btn-bg-toggle-active: rgba(255, 255, 255, 0.1);
  --toolbar-btn-txt-toggle-active: rgba(255, 255, 255, 0.4);
  --toolbar-btn-bg-tab: rgba(255, 255, 255, 1);
  --toolbar-btn-txt-tab: rgb(0, 0, 0, 1);
  --toolbar-btn-bg-tab-hover: rgba(255, 255, 255, 1);
  --toolbar-btn-txt-tab-hover: rgb(0, 0, 0, 0.5);
  --toolbar-btn-bg-tab-active: rgba(255, 255, 255, 0.9);
  --toolbar-btn-txt-tab-active: rgba(0, 0, 0, 0.8);

  --toolbar-btn-border-tooltip: rgba(255, 255, 255, 0.6);
  --toolbar-btn-txt-tooltip: rgba(255, 255, 255, 0.8);
  --toolbar-btn-bg-tooltip: rgb(60, 60, 60);

  --search-bg-color: #c7c7c7;
  --search-placeholder-color: grey;
  --search-text-color: #2c2c2c;

  --splitter-bar-bg: rgb(224, 224, 224);

  /* status bar */
  --status-bar-border: #e0e0e0;
  --status-bar-bg: #ffffff;
  --status-bar-txt: #1c1c1c;

  /* splitter */
  --splitter-bg: rgb(210, 210, 210);
  --splitter-bg-hover: rgb(120, 120, 120);
  --splitter-handle-bg: rgb(120, 120, 120);
  --splitter-handle-bg-hover: rgb(230, 230, 230);

  /*garbage*/

  --color-primary: #10b981;
  --color-primary-hover: #34d399;
  --color-bg-app: #f3f4f6;
  --color-bg-main: #f8fafc;
  --color-bg-white: #ffffff;
  --color-border: #e5e7eb;
  --color-text-main: #1f2937;
  --color-text-muted: #6b7280;

  --header-height: 64px;
}
