:root {
  /* dimensions */
  --toolbar-height: 40px;

  /* status bar */
  --statusbar-height: 30px;

  /* annimations */
  --transition-fast: 0.1s;
  --transition-medium: 0.2s;
  --transition-slow: 0.4s;
}
